.container{
    margin-top: 2.5rem;
}
.ventana{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 192px;
    font-size: 3.5rem;
}
#credito_actual{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}
#insert_coin{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}
/* CSS de la palanca */
.imagen{
    height: 250px;
    width: 125px;
    background-image: url(../img/palanca.png);
    background-size: cover;
    transition: .5s all;
    cursor: pointer;
}
.palanca_animada{
    animation-name: PalancaRotada;
    animation-duration: 1.5s;
}

@keyframes PalancaRotada {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(65deg);}
    100% {transform: rotate(0deg);}
}
/* Fin CSS de la palanca */